.modal-small {
  height: auto;
  margin: auto;
  width: auto;
  -ms-flex: 1 100%;
  flex: 1 100%;
  align-self: center;

  .modal-footer a {
    text-decoration: none;
  }
}

.modal-open #cookieconsent.modal {
  display: flex;
}

#cookieconsent {
  padding: 15px;

  &.show {
    -ms-display: flex !important;
    display: flex !important;
    height: 100%;
  }

  .modal-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    margin: auto;
    max-height: 450px;
    max-width: 600px;
  }

  .modal-body {
    background-color: #fff;
    font-family: "DINRegular", Arial, Helvetica, sans-serif;
    height: auto;
    margin: 0 auto;
    padding: 15px 60px;
    text-align: center;
    width: 100%;

    strong {
      font-family: "DINBold", Arial, Helvetica, sans-serif;
      line-height: .5;
    }

    @media (max-width: 767px) {
      padding: 30px;
    }

    h3 {
      color: #222;
      font-family: "DINCondensed", Arial, Helvetica, sans-serif;
      font-size: 30px;
      letter-spacing: 4px;
      margin-bottom: 24px;
      margin-top: 45px;
      text-transform: uppercase;
    }

    p {
      font-family: "DINRegular", Arial, Helvetica, sans-serif;
      color: #222;
    }
  }

  .modal-footer {
    -ms-flex-align: center;
    align-items: center;
    border: 0;
    margin: 0 15px 30px;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100%;

    @media (max-width: 767px) {
      .btn {
        display: block;
        margin: 0 30px;
        min-width: 100px;
        width: auto;
      }
    }
  }
}
