<div class="modal" tabindex="-1" role="dialog" id="cookieconsent">
  <div class="modal-dialog modal-small" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h3>Cookie Policy</h3>
        <p>This site uses cookies to track user preferences and to improve user experience. <strong>If you do not want us to use cookies, please disable cookies in your web browser.</strong> Note that if you <strong>disable cookies</strong>, some website functionality will not work for you. For more information about cookies and how we handle your personal information, please click on our <a href="/-/media/Privacy/LionTree-PrivacyPolicy.ashx" id="cookie-notification">privacy policy</a>.</p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-secondary" id="cookie" data-dismiss="modal">OK</a>
      </div>
    </div>
  </div>
</div>
