@media (min-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1440px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
}


main {
  padding-top: 131px;

  @media (max-width: 767px) {
    padding-top: 100px;
  }

  a {
    color: #222;
    text-decoration: underline;

    &:hover,
    &focus {
      color: #7a7a7a;
    }
  }

  &.container {
    padding-left: 127px;
    padding-right: 127px;
    position: relative;

    @media (min-width: 768px) and (max-width: 1199px) {
      padding-left: 65px;
      padding-right: 65px;
    }

    @media (max-width: 767px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &:before {
    background-size: contain;
    content: "";
    width: 500px;
    height: 485px;
    position: absolute;
    right: 0;
    top: 150px;
    z-index: 0;

    @media (max-width: 1199px) {
      background-image: none !important;
      top: 200px;
    }

    @media (max-width: 991px) {
      width: 300px !important;
      height: 285px !important;
      top: 200px;
    }

    @media (min-width: 768px) and (max-width: 1199px) {
      width: 400px !important;
      height: 385px !important;
      top: 250px;
    }
  }
}

.btn {
  border-radius: 0;
  border: 2px solid #502565;
  display: inline-block;
  font-family: "DINCondensed", Arial, Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: .25em;
  min-width: 260px;
  padding: 12px 18px;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;

  @media (max-width: 767px) {
    display: block;
    width: 100%;
  }

  &-primary {
    background-color: #502565;
    color: #fff;

    &:hover,
    &:focus {
      background-color: #5C2975;
      border: 2px solid #502565;
    }
  }

  &-secondary {
    background-color: #fff;
    color: #502565;

    &:hover,
    &:focus {
      background-color: #FDFAFF;
      border: 2px solid #5C2975;
      color: #5C2975;
    }
  }
}

section {
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: -127px;
  margin-right: -127px;
  padding: 78px 127px 50px;

  &:first-of-type {
    padding: 0 127px 30px;

    @media (max-width: 1199px) {
      padding: 0 60px 30px;
    }

    @media (max-width: 767px) {
      padding: 20px 30px 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: -65px;
    margin-right: -65px;
    padding: 64px 65px 50px;
  }

  @media screen and (max-width: 767px) {
    margin-left: -15px;
    margin-right: -15px;
    padding: 64px 30px;
  }

  &.section-bg {
    background-color: #f2f1f1;
  }
}

.section-title {
  color: #222222;
  font-family: "DINCondensed", Arial, Helvetica, sans-serif;
  font-size: 30px;
  letter-spacing: 4px;
  line-height: 36px;
  margin-bottom: 25px;
  margin-top: 0;
  text-transform: uppercase;

  @media (max-width: 767px) {
    font-size: 24px;
  }

  a {
    color: #222222;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}


footer {
  background-color: #fff;
  // background-image: url('../../images/Footer-Background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  margin-left: -127px;
  margin-right: -127px;
  padding: 30px 127px 0;
  min-height: 380px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  height: auto;
  width: 100%;

  &.container {
    padding-left: 127px;
    padding-right: 127px;
    position: relative;

    @media (min-width: 768px) and (max-width: 1199px) {
      padding-left: 65px;
      padding-right: 65px;
    }

    @media (max-width: 768px) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .component-contacts {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    margin: 30px 0 60px;
    width: 100%;

    @media (max-width: 767px) {
      flex-direction: column;
    }

    h4 {
      font-family: "ChronicleRoman", Georgia, 'Times New Roman', Times, serif;
      font-size: 24px;
      color: #fff;
      margin-bottom: 5px;
    }

    a {
      color: #DBD1BA;
      font-family: "DINRegular", Arial, Helvetica, sans-serif;
      font-size: 14px;
      text-decoration: underline;
    }

    ul {
      padding-inline-start: 0;
      margin: 15px 0;
      padding: 0;
      list-style-type: none;

      @media (max-width: 767px) {
        display: flex;
        flex-wrap: wrap;
      }
    }

    li {
      color: #fff;
      font-family: "DINRegular", Arial, Helvetica, sans-serif;
      line-height: 2.4em;
      text-transform: uppercase;
      width: 100%;
      padding-right: 15px;

      @media screen and (max-width: 991px) {

        width: 100%;
      }

      a {
        color: #DBD1BA;
        font-family: "DINRegular", Arial, Helvetica, sans-serif;
        font-size: 14px;
        text-decoration: underline;
        line-height: 1.5;
        display: block;
        padding-left: 30px !important;
        margin-bottom: 15px;
        //text-transform: none;
      }
    }

    .col-static {
      padding-right: 15px;
      width: 25%;

      @media screen and (max-width: 767px) {
        width: 100%;
        margin-bottom: 30px;
      }

      @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 33%;
      }
    }

    .col-stretch {
      width: 25%;

      @media screen and (max-width: 767px) {
        width: 100%;
      }

      li a {
        padding-left: 0 !important;
      }

      @media screen and (min-width: 768px) and (max-width: 991px) {
        width: 33%;
      }

      &.two-col {
        width: 50%;

        @media screen and (max-width: 767px) {
          width: 100%;
        }

        li a {
          color: #DBD1BA;
          padding-left: 30px !important;
          text-decoration: underline;
          text-transform: none !important;

          @media (max-width: 991px) {
            padding-left: 30px;
          }
        }

        ul {
          display: flex;
          flex-wrap: wrap;
        }
      }

      li a {
        padding-left: 0;
        color: #fff;
        //text-transform: none;
        padding-right: 15px;
        text-decoration: none;
      }
    }
  }


  .section-title {
    margin: 45px 0 0px;

    a {
      color: #fff;
    }
  }

  .copyright {
    border-top: 1px solid #716E6D;
    color: #fff;
    font-family: "DINRegular", Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1;
    padding: 35px 127px 30px;
    width: calc(100% + 254px);
    margin-left: -127px;
    margin-right: -127px;

    @media screen and (max-width: 767px) {
      margin-left: -30px;
      margin-right: -30px;
      padding: 50px 30px;
      width: calc(100% + 60px);
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-left: -65px;
      margin-right: -65px;
      padding: 50px 65px;
      width: calc(100% + 130px);
    }


    a {
      color: #DBD1BA;
      font-family: "DINRegular", Arial, Helvetica, sans-serif;
      font-size: 14px;
      text-decoration: underline;
      line-height: 1;
    }
  }

}
