body {
  overflow-y: auto;

  &.active {
    overflow-y: hidden;
  }
}

header {
  background: #fff;
  border-bottom: 1px solid #dfdddc;
  padding: 18px 15px 19px;
  position: fixed;
  width: 100vw;
  z-index: 12;

  .header-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;

    @media screen and (max-width: 1199px) {
      justify-content: space-between;
    }
  }

  .logo {
    height: auto;
    margin-left: 24px;
    margin-right: 30px;
    width: 175px;

    @media screen and (max-width: 1199px) {
      margin-right: 0;
    }

    img {
      height: auto;
      margin: 0 auto;
      width: 175px;

      &.logo-mobile {
        width: 135px;
        margin-top: 30px;
      }
    }

    .logo-mobile {
      display: none;
    }
  }

  .kindred-desktop {
    display: block;
    //width: 50%;
  }

  .kindred-mobile {
    display: none;
    //width: 50%;
  }

  nav {
    height: auto;
    width: 100%;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 16px 15px 0;
    }

    a {
      border-bottom: 2px solid transparent;
      color: #222222;
      flex-grow: 1;
      font-family: "DINCondensed", Arial, Helvetica, sans-serif;
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 20px;
      padding-bottom: 10px;
      text-transform: uppercase;
      transition: border .15s ease-in-out, color .15s ease-in-out;

      &:hover,
      &:focus,
      &.active {
        color: #5C2975;
        text-decoration: none;
      }
    }
  }
}

body.active header {
  align-items: center;
  background: none;
  border: 0;
  display: flex;
  align-items: flex-start;
  height: 100vh;

  nav li {
    margin: 0;
  }

  .component-tabbed-nav__wrapper {
    height: auto;
  }

  .header-wrapper {
    flex-direction: column;
  }

  .component-tabbed-nav__tab {
    color: #fff;
    font-size: 24px;
    letter-spacing: .15em;
    margin: 12px 10px;
  }

  .logo {
    margin: 0 0 30px;

    &:before {
      border-bottom: 1px solid #87708F;
      content: "Menu";
      color: #fff;
      display: block;
      font-family: "DINCondensed", Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: normal;
      height: auto;
      letter-spacing: .15em;
      margin: 0 0 30px;
      padding: 22px 0 25px;
      text-align: center;
      text-transform: uppercase;
      width: 175px;

      @media screen and (max-width: 767px) {
        margin: 15px 0;
        padding: 0 0 15px;
      }
    }

    &-desktop {
      display: none;
    }

    &-mobile {
      display: block;
      padding-right: 15px;
    }
  }

  .kindred-desktop {
    display: none;
  }

  .kindred-mobile {
    display: block;
  }

  .component-tabbed-nav__wrapper {
    background: none;
    border-bottom: 0;
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
  }

  .cta-visit {
    border: 0;
    margin-right: 0;
    margin-top: 50px;

    @media screen and (max-width: 767px) {
      height: 50px;
      margin-top: 40px;

      li a:after {
        color: #fff;
      }
    }

    li a:after {
      display: block !important;
    }
  }
}

.component-tabbed-nav {
  display: block;

  @media (max-width: 1199px) {
    display: none;
  }

  &.active {
    display: block;
  }

  &__wrapper {
    align-items: center;
    background: #fff;
    bottom: 0;
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
    width: 100%;
    z-index: 10;

    &--top {
      position: fixed;
      top: 0;
    }
  }

  &__tab {
    align-items: center;
    color: #222;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    letter-spacing: 0.1rem;
    line-height: 1;
    margin: 0;
    padding: 0;
    transition: all 0.5s ease;
  }

  .kindred-mobile:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #502565;
    content: "\e05a";
    height: 20px;
    font-family: SimpleLineIcons;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 1;
    margin-left: 10px;
    position: relative;
    speak: none;
    text-transform: none;
    transition: color .15s ease-in-out;
    width: 20px;
  }
}

.logo-kindred_media {
  width: 131px;
  height: 26px;
}

.cta-visit {
  align-items: center;
  border-left: 1px solid #dfdddc;
  display: flex;
  height: 96px;
  justify-content: flex-end;
  margin-bottom: 0px;
  margin-right: -20px;
  margin-top: 0px;
  transition: background-color .15s ease-in-out;

  &:hover,
  &:focus {
    @media screen and (min-width: 1200px) {
      background-color: #5C2975;
    }

    .kindred-desktop {
      display: none;
    }

    .kindred-mobile {
      display: block;
    }

    li a:after {
      color: #fff;
    }
  }

  li {
    margin: 10px 40px 0;

    a {
      border: 0;

      &:hover,
      &:focus {
        border: 0;
      }

      &:after {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #502565;
        content: "\e05a";
        height: 20px;
        font-family: "SimpleLineIcons";
        font-size: 16px;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        line-height: 1;
        margin-left: 10px;
        position: relative;
        speak: none;
        text-transform: none;
        transition: color .15s ease-in-out;
        width: 20px;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
          content: "\e05a" !important;
          color: #fff;
          display: block !important;
          font-size: 14px;
          top: 2px;
        }
      }
    }
  }
}

.highlight {
  background: #502565;
  display: block;
  height: 2px;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transform: translate(230px, 64px);
  transition: all .2s;
  width: 0;
  z-index: 99;

  @media screen and (max-width: 1199px) {
    display: none;
    opacity: 0 !important;
  }
}

.mobile-trigger {
  background: none;
  border: 0;
  height: 24px;
  margin: 5px 13px 0 0;
  outline: 0;
  padding: 0;
  position: relative;
  width: 40px;

  &.active {
    position: absolute;
    right: 15px;
    top: 30px;
  }

  span {
    background: #502565;
    display: block;
    height: 2px;
    width: 40px;

    &:before,
    &:after {
      background: #502565;
      content: "";
      height: 2px;
      left: 0;
      position: absolute;
      width: 40px;
    }

    &:before {
      top: 0px;
    }

    &:after {
      top: 22px;
    }
  }

  &.active {
    background: none;

    span {
      background: none;

      &:before {
        background: #fff;
        top: 11px;
        transform: rotate(35deg);
      }

      &:after {
        background: #fff;
        top: 11px;
        transform: rotate(-35deg);
      }
    }
  }

  @media (min-width: 1200px) {
    display: none;
  }
}

.mobileOverlay {
  background-color: #502565;
  bottom: 0;
  height: 100vh;
  left: -100vw;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity .15s ease-in-out;
  width: 100vw;
  z-index: -1;

  &.active {
    left: 0;
    opacity: 1;
    z-index: 11;
  }
}
