.modal-open .modal {
  //display: block;
}

.modal {
  overflow-y: hidden !important;

  &-content {
    border: 0;
    border-radius: 0;
    height: 100%;
    position: relative;

    img {
      height: auto;
      max-width: 320px;
      object-fit: cover;
      width: 100%;
      z-index: 0;

      @media (max-width: 767px) {
        margin-bottom: 30px;
      }
    }
  }

  &-header {
    border: 0;
    height: 70px;
    width: 100%;

    @media (max-width: 767px) {
      min-height: 60px;
    }
  }

  &-dialog {
    height: calc(100% - 120px);
    margin: 60px auto;
    max-width: 1280px;
    width: calc(100% - 60px) !important;

    @media (max-width: 767px) {
      height: calc(100% - 30px);
      margin: 15px auto;
      width: calc(100% - 30px);
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      height: calc(100% - 60px);
      margin: 30px auto;
      max-width: 976px;
      width: calc(100% - 60px);
    }

    @media (max-width: 1321px) {
      max-width: 1250px;
    }
  }

  &-body {
    background-color: #fff;
    height: 76%;
    margin: 0 30px;
    overflow-y: auto;
    padding: 0;
    text-align: center;
    width: calc(100% - 60px);

    @media (max-width: 767px) {
      margin: 0 30px;
      width: calc(100% - 60px);
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin: 0 69px;
      width: calc(100% - 138px);
    }

    &-header {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      margin-top: 0;
      padding: 0 15px;

      @media screen and (max-width: 767px) {
        padding: 0 15px;
      }
    }

    &-content {
      height: auto;
      max-height: 60%;
      overflow-y: auto;
      padding: 0 0 30px;
      text-align: left;

      @media screen and (max-width: 767px) {
        max-height: 75%;
        padding: 0 15px 30px;
      }

      h2 {
        font-family: "ChronicleRoman", Georgia, 'Times New Roman', Times, serif;
        font-size: 36px;
        line-height: 40px;
        margin: 0 0 16px;
        padding: 0;
      }

      p {
        font-family: "ChronicleRoman", Georgia, 'Times New Roman', Times, serif;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 26px;
      }
    }

    &-label,
    &-date {
      font-family: "DINCondensed", Arial, Helvetica, sans-serif;
      font-size: 16px;
      line-height: 30px;
      text-transform: uppercase;
    }

    &-label {
      color: #502565;
    }

    &-date {
      color: #222;
    }

    .btn {
      display: inline-block;
      margin: 30px auto;
      min-width: 200px;
      width: auto;
    }
  }

  .close {
    background: #fff;
    border: 0;
    height: 35px;
    margin: 0;
    opacity: 1;
    outline: 0;
    padding: 0;
    position: relative;
    width: 35px;

    &::before {
      background: #222;
      content: "";
      height: 1px;
      left: 7px;
      position: absolute;
      top: 17px;
      transform: rotate(45deg);
      width: 20px;
    }

    &::after {
      background: #222;
      content: "";
      height: 1px;
      left: 7px;
      position: absolute;
      top: 17px;
      transform: rotate(-45deg);
      width: 20px;
    }
  }

  &-footer {
    align-items: center;
    border-top: 1px solid rgba(190, 186, 185, 0.5);
    bottom: 0;
    display: flex;
    height: 88px;
    justify-content: center;
    position: absolute;
    width: 100%;

    @media screen and (max-width: 767px) {
      height: 44px;
    }

    a {
      color: #502565;
      font-family: "DINCondensed", Arial, Helvetica, sans-serif;
      font-size: 17px;
      letter-spacing: .05em;
      text-decoration: underline;
      text-transform: uppercase;
    }
  }

  &.iframe {
    .modal-header {
      min-height: unset;
      border: 0;
      z-index: 1;
    }

    button {
      z-index: 2;
    }

    .modal-body {
      height: 100%;
      margin: -65px 0 0;
      padding: 0;
      width: 100%;

      iframe {
        background: #d0d0d0;
        border: 0;
        height: 100%;
        margin: -50px 0 0;
        min-height: 600px;
        width: 100%;
      }
    }
  }
}
