<!-- TRIGGER EXAMPLES -->
<!-- BED: Please match the "data-target" attribute with the id of the modal -->
<!-- <a href="" class="btn btn-primary" data-toggle="modal" data-target="#content-modal">Open Content Modal</a>
<a href="" class="btn btn-primary" data-toggle="modal" data-target="#iframe-modal">Open iframe Modal</a> -->


<!-- CONTENT Modal Example -->

<!-- BED: Please be sure to add the "iframe" class for the iframe modal template -->
<!-- BED: This markup can be added anywhere on the page, but it is preferable at the end of the content, near the closing </body> tag -->

<div id="content-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="modal-body-header">
          <div class="modal-body-label">Category Label</div>
          <div class="modal-body-date">22 Jun 20</div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 col-sm-3">
              <img src="https://picsum.photos/id/110/975/500" class="">
            </div>
            <div class="col-xs-12 col-sm-9">
              <div class="modal-body-content">
                <h2>Short description dolor sit amet consectetur lorem ipsum dolor sit amet consectetur</h2>
                <p>Long description Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel quas modi repellat at
                  iste?
                  Nostrum quasi ab debitis, sint magni qui voluptatum eaque? Numquam dolorem, neque sunt vitae at eius.
                  Lorem
                  ipsum dolor sit amet consectetur adipisicing elit. Ab qui culpa odio rerum tempore ea sequi animi
                  non, id adipisci, ullam nesciunt laboriosam distinctio velit, doloribus alias consequatur beatae
                  ratione!
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam impedit iure dolores obcaecati?
                  Impedit
                  omnis tenetur at. Sint, natus corrupti illo repellat officia commodi earum, exercitationem ab
                  distinctio
                  unde eum?</p>
                <p>Long description Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel quas modi repellat at
                  iste?
                  Nostrum quasi ab debitis, sint magni qui voluptatum eaque? Numquam dolorem, neque sunt vitae at eius.
                  Lorem
                  ipsum dolor sit amet consectetur adipisicing elit. Ab qui culpa odio rerum tempore ea sequi animi
                  non, id adipisci, ullam nesciunt laboriosam distinctio velit, doloribus alias consequatur beatae
                  ratione!
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam impedit iure dolores obcaecati?
                  Impedit
                  omnis tenetur at. Sint, natus corrupti illo repellat officia commodi earum, exercitationem ab
                  distinctio
                  unde eum?</p>
                <p>Long description Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel quas modi repellat at
                  iste?
                  Nostrum quasi ab debitis, sint magni qui voluptatum eaque? Numquam dolorem, neque sunt vitae at eius.
                  Lorem
                  ipsum dolor sit amet consectetur adipisicing elit. Ab qui culpa odio rerum tempore ea sequi animi
                  non, id adipisci, ullam nesciunt laboriosam distinctio velit, doloribus alias consequatur beatae
                  ratione!
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam impedit iure dolores obcaecati?
                  Impedit
                  omnis tenetur at. Sint, natus corrupti illo repellat officia commodi earum, exercitationem ab
                  distinctio
                  unde eum?</p>
                <p>Long description Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel quas modi repellat at
                  iste?
                  Nostrum quasi ab debitis, sint magni qui voluptatum eaque? Numquam dolorem, neque sunt vitae at eius.
                  Lorem
                  ipsum dolor sit amet consectetur adipisicing elit. Ab qui culpa odio rerum tempore ea sequi animi
                  non, id adipisci, ullam nesciunt laboriosam distinctio velit, doloribus alias consequatur beatae
                  ratione!
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam impedit iure dolores obcaecati?
                  Impedit
                  omnis tenetur at. Sint, natus corrupti illo repellat officia commodi earum, exercitationem ab
                  distinctio
                  unde eum?</p>
              </div>
            </div>
          </div>
          <a href="" class="btn btn-primary">Call To Action</a>
        </div>
      </div>
      <div class="modal-footer">
        <a href="" class="" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>

<!-- IFRAME Modal Example -->

<!-- BED: Please be sure to add the "iframe" class for the iframe modal template -->
<!-- BED: This markup can be added anywhere on the page, but it is preferable at the end of the content, near the closing </body> tag -->
<!-- BED: Each "news item" will need its own modal, each with a unique id that corresponds with the modal's trigger via a data-target attribute -->

<div id="iframe-modal" class="modal fade iframe" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <iframe src=""></iframe>
      </div>
    </div>
  </div>
</div>
