.slideshow {
  // box-shadow: 0px 0px 40px rgba(0, 0, 0, .3);
  background-color: transparent;
  margin-top: 80px;

  @media screen and (max-width: 767px) {
    // margin-top: 60px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .slide {
    height: 100%;

    @media (max-width: 767px) {
      padding: 15px;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
      z-index: 100000;
    }

    .image {
      background: #fff;
      border: 1px solid #F0EFEE;
      -ms-flex: flex;
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: center;
      //min-height: 131px;
      margin-bottom: 15px;
      height: auto;
      overflow: hidden;

      img {
        height: 131px;
        //height: 100%;
        width: 100%;

        @media screen and (-ms-high-contrast: active),
        (-ms-high-contrast: none) {
          // max-width: calc(276px - 0px);
        }

        //max-height: 131px;
        margin: 0;
        position: relative;
        align-self: center;

        @media (max-width: 1079px) {
          height: 218px;
          //max-height: 218px;
        }
      }
    }
  }

  .slick-prev:before,
  .slick-next:before {
    color: #502565;
    position: relative;
  }
}

.slick-slide {
  margin: 0 12px;
}

.slick-list {
  margin: 0 -12px;
}

.slick-dots,
.slick-next,
.slick-prev {
  position: absolute;
  display: block;
  padding: 0;
}

.slick-dots {
  bottom: unset;
  height: 30px;
  top: -63px;
  text-align: left;
  margin: 0;

  li {
    margin: 0 5px 0 0;

    button:before {
      opacity: 1;
      background-color: transparent;
      border-radius: 50%;
      border: 1px solid #502565;
      width: 10px;
      height: 10px;
      content: "";
    }

    &.slick-active button:before {
      background-color: #502565;
      opacity: 1;
    }
  }

  @media screen and (max-width: 767px) {
    display: none !important;
  }
}

.slick-prev,
.slick-next {
  background: #fff;
  border: 1px solid #502565;
  color: #222;
  font-size: 0;
  line-height: 0;
  top: 40%;
  width: 50px;
  height: 50px;
  transform: translate(0px, -50%);
  cursor: pointer;
  color: transparent;
  outline: 0;
  padding: 10px;
  position: absolute;
  transition: background-color .25s ease-in-out, margin .15s ease-in-out;

  &:hover,
  &:focus {
    background: #502565;

    &::before {
      color: #fff !important;
    }
  }

  @media screen and (max-width: 767px) {
    border: 0;
    padding: 0;
    width: auto;
    height: auto;
  }

  &::before {
    color: #502565;
    font-family: "SimpleLineIcons";
    font-size: 25px;
    font-weight: bold;
    height: 50px;
    left: 0;
    line-height: 1;
    opacity: 0.75;
    transition: left .15s ease-in-out;
    width: 50px;
  }
}

.slick-prev {
  &:active {
    &::before {
      left: -3px;
    }
  }
}

.slick-next {
  &:active {
    &::before {
      left: 3px;
    }
  }
}

.slick-prev::before,
[dir="rtl"] .slick-next::before {
  content: "\e605";
}

.slick-next::before,
[dir="rtl"] .slick-prev::before {
  content: "\e606";
}

.slick-prev,
[dir="rtl"] .slick-next {
  left: -127px;
  border-left: 0;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    left: -66px;
  }

  @media screen and (max-width: 767px) {
    left: 10px;
    top: -30px;
  }
}

.slick-next,
[dir="rtl"] .slick-prev {
  right: -127px;
  border-right: 0;

  @media screen and (max-width: 1199px) {
    right: -66px;
  }

  @media screen and (max-width: 767px) {
    left: 160px;
    top: -30px;
  }
}

.slide {
  .date {
    color: #222222;
    font-family: "DINCondensed", Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  img {
    margin-bottom: 0px;
  }

  .category {
    color: #502565;
    font-family: "DINCondensed", Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .title {
    color: #222222;
    font-family: "ChronicleRoman", Arial, Helvetica, sans-serif;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 28px;
    text-decoration: underline;
    margin-bottom: 15px;

    @media screen and (max-width: 767px) {
      //text-decoration: none;
    }
  }

  &:hover .title {
    color: #7a7a7a;
    text-decoration: underline;
  }

  .content {
    color: #222222;
    font-family: "DINRegular", Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 1.65em;
    margin-bottom: 30px;
  }

  a {
    border: 0;
    outline: 0;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .date {
    color: #222;
  }

  .category {
    color: #222;
  }

  .title {
    color: #222;
  }

  .content {
    color: #222;
  }

  a:focus,
  .date:focus,
  .category:focus,
  .title:focus,
  .content:focus,
  img {
    outline: none;
  }
}

.mobilepager,
.mediapager {
  color: #502565;
  display: block;
  font-family: "DINCondensed", Arial, Helvetica, sans-serif;
  font-size: 18px;
  left: 86px;
  letter-spacing: 2px;
  margin-top: 12px;
  position: absolute;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mediapager {
  margin-top: 7px;
}

section.section-bg {
  .section-title a {
    color: #222;
  }

  .slick-dots {
    li {
      button:before {
        background-color: #fff;
      }

      &.slick-active button:before {
        background-color: #502565;
      }
    }
  }

  .slick-prev,
  .slick-next {
    background-color: #f2f1f1;

    @media screen and (max-width: 767px) {
      background: none;
      border: 0;
    }

    &:before {
      color: #502565;
    }

    &:hover:before,
    &:focus:before {
      color: #fff;
    }

    &:hover,
    &:focus {
      background-color: #502565;

      @media screen and (max-width: 767px) {
        background-color: transparent;

        &:hover:before,
        &:focus:before {
          color: #502565 !important;
        }
      }
    }
  }

  .slick-prev {
    border-left: 0;

  }

  .slick-next {
    border-right: 0;
  }

  .slide {
    .image {
      border: 1px solid #DBD1BA;
      background: #fff;
    }

    a {
      border: 0;
      outline: 0;
    }

    .date {
      color: #2B2B2B;
    }

    .category {
      color: #502565;
    }

    .title {
      color: #2B2B2B;
    }

    .content {
      color: #222;
    }

    a:focus,
    .date:focus,
    .category:focus,
    .title:focus,
    .content:focus,
    img {
      outline: none;
    }

    &:hover .title {
      color: #7a7a7a;
      text-decoration: underline;
    }
  }

  .mobilepager {
    //color: #DBD1BA;
  }
}

section.dark {
  .section-title a {
    color: #fff;
  }

  .slick-dots {
    li {
      button:before {
        background-color: #353433;
        border: 1px solid #DbD1BA;
      }

      &.slick-active button:before {
        background-color: #DBD1BA;
      }
    }
  }

  .slick-prev,
  .slick-next {
    background: #222;
    border: 1px solid #DBD1BA;
    color: #fff;

    @media screen and (max-width: 767px) {
      background: none;
      border: 0;
    }

    &:hover,
    &:focus {
      background: #A8956A;

      @media screen and (max-width: 767px) {
        background: none;
      }

      &::before {
        color: #fff;
      }
    }

    &::before {
      color: #DBD1BA;
    }
  }

  .slick-prev {
    border-left: 0;
  }

  .slick-next {
    border-right: 0;
  }

  .slide {
    .image {
      border: 1px solid #222222;
      background: #353433;
    }

    a {
      border: 0;
      outline: 0;
    }

    .date {
      color: #fff;
    }

    .category {
      color: #fff;
    }

    .title {
      color: #dbd1b9;
    }

    .content {
      color: #ddd;
    }

    a:focus,
    .date:focus,
    .category:focus,
    .title:focus,
    .content:focus,
    img {
      outline: none;
    }

    &:hover .title {
      color: #a8956a;
      text-decoration: underline;
    }
  }

  .mobilepager {
    color: #DBD1BA;
  }
}
