<!-- BED: Please add the class "section-bg" to the <section> if option is checked in SC -->
<!-- BED: Please add the class "dark" to the <section> if the reverse text color option is checked in SC -->
<!-- BED: Please add the background image URL using a style attribute -->

<section class="dark" style="background-image: url('images/carousel-background.jpg');">
  <h2 class="section-title">
    <a>Announcements</a>
  </h2>
  <span class="mobilepager" id="announcements-carousel"></span>

  <div class="slideshow" data-id="announcements-carousel">
    <div class="slide">
      <!-- BED: Please add the following attributes to open a modal on click -->
      <!--      "data-target" must match the id of the modal -->
      <a href="#" data-toggle="modal" data-target="#content-modal">
        <div class="date">18 May 20</div>
        <div class="image">
          <img src="https://picsum.photos/id/110/276/65" alt="" />
        </div>
        <div class="category">Case Study</div>
        <div class="title">Lorem Ipsum Dolor Site Amet Consectetur Lorem Ipsum</div>
        <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non possimus iusto nemo similique
          quos ducimus mollitia officia et voluptatem ut voluptate distinctio optio aut asperiores eius, nisi eaque in
          error.</div>
      </a>
    </div>
    <div class="slide">
      <a href="#" data-toggle="modal" data-target="#iframe-modal">
        <div class=" date">18 May 19</div>
        <div class="image">
          <img src="https://picsum.photos/id/158/276/131" alt="" />
        </div>
        <div class="category">News</div>
        <div class="title">Lorem Ipsum Dolor Site Amet Consectetur Lorem Ipsum</div>
        <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non possimus iusto nemo similique
          quos ducimus mollitia officia et voluptatem ut voluptate distinctio optio aut asperiores eius, nisi eaque in
          error.</div>
      </a>
    </div>
    <div class="slide">
      <a href="#">
        <div class="date">18 May 18</div>
        <div class="image">
          <img src="https://picsum.photos/id/178/276/131" alt="" />
        </div>
        <div class="category">Message From Our CEO</div>
        <div class="title">Lorem Ipsum Dolor Site Amet Consectetur Lorem Ipsum</div>
        <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non possimus iusto nemo similique
          quos ducimus mollitia officia et voluptatem ut voluptate distinctio optio aut asperiores eius, nisi eaque in
          error.</div>
      </a>
    </div>
    <div class="slide">
      <a href="#">
        <div class="date">18 May 17</div>
        <div class="image">
          <img src="https://picsum.photos/id/292/276/131" alt="" />
        </div>
        <div class="category">Case Study</div>
        <div class="title">Lorem Ipsum Dolor Site Amet Consectetur Lorem Ipsum</div>
        <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non possimus iusto nemo similique
          quos ducimus mollitia officia et voluptatem ut voluptate distinctio optio aut asperiores eius, nisi eaque in
          error.</div>
      </a>
    </div>
    <div class="slide">
      <a href="#">
        <div class="date">18 May 16</div>
        <div class="image">
          <img src="https://picsum.photos/id/306/276/131" alt="" />
        </div>
        <div class="category">News</div>
        <div class="title">Lorem Ipsum Dolor Site Amet Consectetur Lorem Ipsum</div>
        <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non possimus iusto nemo similique
          quos ducimus mollitia officia et voluptatem ut voluptate distinctio optio aut asperiores eius, nisi eaque in
          error.</div>
      </a>
    </div>
    <div class="slide">
      <a href="#">
        <div class="date">18 May 15</div>
        <div class="image">
          <img src="https://picsum.photos/id/323/276/131" alt="" />
        </div>
        <div class="category">Case Study</div>
        <div class="title">Lorem Ipsum Dolor Site Amet Consectetur Lorem Ipsum</div>
        <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non possimus iusto nemo similique
          quos ducimus mollitia officia et voluptatem ut voluptate distinctio optio aut asperiores eius, nisi eaque in
          error.</div>
      </a>
    </div>
  </div>
</section>

<section class="section-bg">
  <h2 class="section-title">
    <a>News & Insights</a>
  </h2>
  <span class="mobilepager" id="news-and-insights-carousel"></span>

  <div class="slideshow" data-id="news-and-insights-carousel">
    <div class="slide">
      <!-- BED: Please add the following attributes to open a modal on click -->
      <!--      "data-target" must match the id of the modal -->
      <a href="#" data-toggle="modal" data-target="#content-modal">
        <div class="date">18 May 20</div>
        <div class="image">
          <img src="https://picsum.photos/id/110/276/65" alt="" />
        </div>
        <div class="category">Case Study</div>
        <div class="title">Lorem Ipsum Dolor Site Amet Consectetur Lorem Ipsum</div>
        <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non possimus iusto nemo similique
          quos ducimus mollitia officia et voluptatem ut voluptate distinctio optio aut asperiores eius, nisi eaque in
          error.</div>
      </a>
    </div>
    <div class="slide">
      <a href="#" data-toggle="modal" data-target="#iframe-modal">
        <div class=" date">18 May 19</div>
        <div class="image">
          <img src="https://picsum.photos/id/158/276/131" alt="" />
        </div>
        <div class="category">News</div>
        <div class="title">Lorem Ipsum Dolor Site Amet Consectetur Lorem Ipsum</div>
        <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non possimus iusto nemo similique
          quos ducimus mollitia officia et voluptatem ut voluptate distinctio optio aut asperiores eius, nisi eaque in
          error.</div>
      </a>
    </div>
    <div class="slide">
      <a href="#">
        <div class="date">18 May 18</div>
        <div class="image">
          <img src="https://picsum.photos/id/178/276/131" alt="" />
        </div>
        <div class="category">Message From Our CEO</div>
        <div class="title">Lorem Ipsum Dolor Site Amet Consectetur Lorem Ipsum</div>
        <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non possimus iusto nemo similique
          quos ducimus mollitia officia et voluptatem ut voluptate distinctio optio aut asperiores eius, nisi eaque in
          error.</div>
      </a>
    </div>
    <div class="slide">
      <a href="#">
        <div class="date">18 May 17</div>
        <div class="image">
          <img src="https://picsum.photos/id/292/276/131" alt="" />
        </div>
        <div class="category">Case Study</div>
        <div class="title">Lorem Ipsum Dolor Site Amet Consectetur Lorem Ipsum</div>
        <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non possimus iusto nemo similique
          quos ducimus mollitia officia et voluptatem ut voluptate distinctio optio aut asperiores eius, nisi eaque in
          error.</div>
      </a>
    </div>
    <div class="slide">
      <a href="#">
        <div class="date">18 May 16</div>
        <div class="image">
          <img src="https://picsum.photos/id/306/276/131" alt="" />
        </div>
        <div class="category">News</div>
        <div class="title">Lorem Ipsum Dolor Site Amet Consectetur Lorem Ipsum</div>
        <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non possimus iusto nemo similique
          quos ducimus mollitia officia et voluptatem ut voluptate distinctio optio aut asperiores eius, nisi eaque in
          error.</div>
      </a>
    </div>
    <div class="slide">
      <a href="#">
        <div class="date">18 May 15</div>
        <div class="image">
          <img src="https://picsum.photos/id/323/276/131" alt="" />
        </div>
        <div class="category">Case Study</div>
        <div class="title">Lorem Ipsum Dolor Site Amet Consectetur Lorem Ipsum</div>
        <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non possimus iusto nemo similique
          quos ducimus mollitia officia et voluptatem ut voluptate distinctio optio aut asperiores eius, nisi eaque in
          error.</div>
      </a>
    </div>
  </div>
</section>
