{% from 'macros/helpers.html' import sprite %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>{% block title %}{{title}}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Static App Icons -->
  <link rel="shortcut icon" href="/favicon.ico?v=1" />
  <link rel="stylesheet" href="stylesheets/main.css" />
  <script src="javascripts/vendor.js"></script>
  {% block head %}{% endblock %}
</head>

<body>
  <header class="header">
    <div class="header-wrapper">
      <div class="logo">
        <img src="images/liontree_splash_logo.svg" class="logo-desktop" />
        <img src="images/liontree_splash_logo_mobile.svg" class="logo-mobile" />
      </div>
      <nav class="component-tabbed-nav">
        <div class="component-tabbed-nav__wrapper">
          <ul id="menutest">
            <!-- <li class="component-tabbed-nav_li">
              <a href="#WhoWeAre" class="component-tabbed-nav__tab">Who We Are</a>
            </li>
            <li class="component-tabbed-nav_li">
              <a href="#WhatWeDo" class="component-tabbed-nav__tab">What We Do</a>
            </li>
            <li class="component-tabbed-nav_li">
              <a href="#Announcements" class="component-tabbed-nav__tab">Announcements</a>
            </li>
            <li class="component-tabbed-nav_li">
              <a href="#NewsProducts" class="component-tabbed-nav__tab">News & Products</a>
            </li>
            <li class="component-tabbed-nav_li">
              <a href="#Media" class="component-tabbed-nav__tab">Media</a>
            </li>
            <li class="component-tabbed-nav_li">
              <a href="#ConnectWithUs" class="component-tabbed-nav__tab">Connect With Us</a>
            </li> -->
          </ul>
          <span class="component-tabbed-nav__tab-slider"></span>
          <ul class="cta-visit">
            <li>
              <a href="#" class="component-tabbed-nav__tab">
                <img src="images/KindredMedia_logo.svg" class="kindred-desktop" alt="Visit Kindred Media" />
                <img src="images/KindredMedia_logo_mobile.svg" class="kindred-mobile" alt="Visit Kindred Media" />
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <button id="mobileMenu" class="mobile-trigger"><span></span></button>
    </div>
  </header>

  {% block content %}{% endblock %}

  <footer class="container" style="background-image: url('../../images/Footer-Background.jpg')">
    <h2 class="section-title">
      <a>Connect With Us</a>
    </h2>
    <div class="component-contacts">
      <div class="col-stretch">
        <h4>Our Offices</h4>
        <a href="tel:+1-212-644-4200" type="phone">+1-212-644-4200</a>
        <ul>
          <li><a href="">New York</a></li>
          <li><a href="">San Francisco</a></li>
          <li><a href="">London</a></li>
          <li><a href="">Paris</a></li>
        </ul>
      </div>
      <!-- <div class="col-stretch two-col">
        <h4>Our Offices</h4>
        <a href="tel:+1-212-644-4200" type="phone">+1-212-644-4200</a>
        <ul>
          <li>
            New York
            <a href="#">660 Madison Avenue,<br>New York, NY 10065</a>
          </li>
          <li>
            London
            <a href="#">3 Burlington Gardens,<br>London W1S 3EP</a>
          </li>
          <li>
            San Francisco
            <a href="#">One Market Plaza, Spear Tower,<br>San Francisco, CA 94105</a>
          </li>
          <li>
            Paris
            <a href="#">7 Rue Rouget de L'Isle,<br>Paris 75001</a>
          </li>
        </ul>
      </div> -->
      <div class="col-static">
        <h4>Media Inquiries</h4>
        <a href="mailto:Liontree-SVC@sardverb.com" type="email">Liontree-SVC@sardverb.com</a>
      </div>
      <div class="col-static">
        <h4>Join Our Team</h4>
        <a href="mailto:careers@liontree.com" type="email">careers@liontree.com</a>
      </div>
    </div>
    <div class="copyright">
      &copy; LionTree 2020 All Rights Reserved | <a href="">Privacy Policy</a>
    </div>
  </footer>

  <script src="javascripts/main.js"></script>
  {% block javascript %}{% endblock %}
</body>

</html>
