.slideshow-media {
  // box-shadow: 0px 0px 40px rgba(0, 0, 0, .3);
  background-color: transparent;
  margin-top: 80px !important;

  @media screen and (max-width: 767px) {
    margin-top: 60px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .slide {
    align-items: center;
    background-color: #f2f1f1;
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;

    @media (max-width: 991px) {
      flex-direction: column;
      padding: 15px;
    }

    .title {
      text-decoration: none;
    }
  }

  .slide:hover .details-container .title {
    color: inherit;
    text-decoration: none !important;
  }

  .media-container {
    position: relative;
    width: 60%;

    .date {
      display: none;
    }

    @media screen and (max-width: 991px) {
      width: 100% !important;

      .date {
        align-self: flex-start;
        //display: block;
      }
    }

    @media screen and (min-width: 992px) and (max-width: 1199px) {
      width: 50% !important;

      .date {
        align-self: flex-start;
        //display: block;
      }
    }

    .media-audio {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;

      .date {
        display: none;
      }

      @media (max-width: 767px) {
        .date {
          align-self: flex-start;
          display: block;
        }
      }

      audio {
        position: absolute;
        bottom: 35px;
        left: 0;
        width: calc(100% - 60px);
        margin: 0 30px;

        @media screen and (max-width: 480px) {
          bottom: 10px;
        }
      }

      img {
        height: 100%;
        width: 100%;
      }
    }

    video {
      height: 100%;
      width: 100%;
    }
  }

  .details-container {
    padding: 30px;
    width: 40%;

    .date {
      display: block;
    }

    @media (max-width: 991px) {
      padding: 0;
      margin-top: 15px;
      width: 100%;

      .date {
        display: none;
      }
    }

    @media screen and (min-width: 992px) and (max-width: 1199px) {
      width: 50% !important;
    }
  }

  .slick-prev,
  .slick-next {

    @media screen and (max-width: 767px) {
      top: -50px;
      background: none;
      border: 0;
    }

    &:hover,
    &:focus {
      background: #502565;

      @media screen and (max-width: 767px) {
        background: none;
      }

      &::before {
        color: #222;
      }
    }

    &::before {
      color: #502565;
    }
  }
}

.mediapager {
  color: #502565;
  display: block;
  font-family: "DINCondensed", Arial, Helvetica, sans-serif;
  font-size: 18px;
  left: 86px;
  margin-top: 5px;
  position: absolute;

  @media screen and (max-width: 767px) {
    color: #DBD1BA;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

section.section-bg .slideshow-media {
  .slide {
    background-color: #fff;
  }
}

section.dark .slideshow-media {
  .slide {
    background-color: #fff;

    a {
      border: 0;
      outline: 0;
    }

    .date {
      color: #222222;
    }

    .category {
      color: #502565;
    }

    .title {
      color: #222222;
    }

    .content {
      color: #222222;
    }
  }

  .mobilepager {
    color: #DBD1BA;
  }
}

section .slide:hover .details-container .title {
  color: #7a7a7a;
  text-decoration: none !important;
}
