<!-- BED: Please add the class "section-bg" to the <section> if option is checked in SC -->
<!-- BED: Please add the class "dark" to the <section> if the reverse text color option is checked in SC -->
<!-- BED: Please add the background image URL using a style attribute -->

<section class="dark" style="background-image: url('images/carousel-background.jpg');">
  <h2 class="section-title">
    <a>Media</a>
  </h2>
  <span class="mediapager" id="media-carousel"></span>

  <div class="slideshow-media" data-id="media-carousel">
    <div class="slide">
      <div class="media-container">
        <div class="date">18 May 20</div><!-- BED: This markup and field is duplicated below using the same value -->
        <video width="827" height="553" controls>
          <source src="../../videos/testvideo.mp4" type="video/mp4">
          <source src="../../videos/testvideo.ogg" type="video/ogg">
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="details-container">
        <div class="date">18 May 20</div><!-- BED: This markup and field is duplicated above using the same value -->
        <div class="category">Podcast</div>
        <div class="title">Always Bet on Mitch Garber</div>
        <div class="content">We’re joined by businessman, philanthropist and Member of the Order of Canada Mitch Garber,
          a man credited with, among many other achievements, saving Caesar’s Entertainment from bankruptcy. LionTree’s
          Alex Michael sits down with Mitch in the Kindred Media Slopeside Studios in Deer Valley, Utah to get the scoop
          on the indefatigable businessman’s latest doings, which span his chairmanship of Cirque Du Soleil as well as
          his involvement with the National Hockey League expansion team in Seattle along with TPG Capital founder David
          Bonderman and a group of local Seattle business leaders.</div>
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#content-modal">Call To Action</a>
      </div>
    </div>

    <div class="slide">
      <div class="media-container">
        <div class="media-audio">
          <div class="date">19 May 20</div><!-- BED: This markup and field is duplicated below using the same value -->
          <img src="../../images/audiobackground.jpg" alt="" />
          <audio controls>
            <source src="../../videos/testaudio.m4a" type="audio/ogg">
            <source src="../../videos/testaudio.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
        </div>
      </div>
      <div class="details-container">
        <div class="date">19 May 20</div><!-- BED: This markup and field is duplicated above using the same value -->
        <div class="category">Test Category</div>
        <div class="title">Lorem Ipsum Dolor Site Amet Consectetur Lorem Ipsum</div>
        <div class="content">Lorem ipsum dolor sit amet, consectetur</div>
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#content-modal">Call To Action</a>
      </div>
    </div>

    <div class="slide">
      <div class="media-container">
        <div class="date">20 May 20</div><!-- BED: This markup and field is duplicated below using the same value -->
        <video width="827" height="553" controls>
          <source src="../../videos/testvideo.mp4" type="video/mp4">
          <source src="../../videos/testvideo.ogg" type="video/ogg">
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="details-container">
        <div class="date">20 May 20</div><!-- BED: This markup and field is duplicated above using the same value -->
        <div class="category">Another Test</div>
        <div class="title">Lorem Ipsum Dolor Site Amet Consectetur Lorem Ipsum</div>
        <div class="content">Lorem ipsum dolor sit amet, consectetur</div>
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#content-modal">Call To Action</a>
      </div>
    </div>
  </div>
</section>
