<section>
  <h2 class="section-title">
    <a>What We Do</a>
  </h2>
  <div class="component-3-col-2-row">
    <div class="icon-card">
      <div class="icon-image">
        <img src="../../images/what-we-do-icon-1.png" />
      </div>
      <div class="icon-content">
        <h3>Capital Markets</h3>
        <p>Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet
          consectetur. </p>
      </div>
    </div>

    <div class="icon-card">
      <div class="icon-image">
        <img src="../../images/what-we-do-icon-2.png" />
      </div>
      <div class="icon-content">
        <h3>Advisory</h3>
        <p>Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet
          consectetur. </p>
      </div>
    </div>

    <div class="icon-card">
      <div class="icon-image">
        <img src="../../images/what-we-do-icon-3.png" />
      </div>
      <div class="icon-content">
        <h3>Public Markets</h3>
        <p>Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet
          consectetur. </p>
      </div>
    </div>

    <div class="icon-card">
      <div class="icon-image">
        <img src="../../images/what-we-do-icon-4.png" />
      </div>
      <div class="icon-content">
        <h3>Merchant Banking</h3>
        <p>Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet
          consectetur. </p>
      </div>
    </div>

    <div class="icon-card">
      <div class="icon-image">
        <img src="../../images/what-we-do-icon-5.png" />
      </div>
      <div class="icon-content">
        <h3>Growth</h3>
        <p>Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet
          consectetur. </p>
      </div>
    </div>

    <div class="icon-card">
      <div class="icon-image">
        <img src="../../images/what-we-do-icon-6.png" />
      </div>
      <div class="icon-content">
        <h3>Credit</h3>
        <p>Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet
          consectetur. </p>
      </div>
    </div>
  </div>
</section>
