.component-3-col-2-row {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 80px;
  margin-top: 20px;

  @media screen and (max-width: 767px) {
    margin-top: 35px;
  }

  .icon-content {
    margin-left: 12px;
    width: calc(100% - 113px);

    h3 {
      font-family: "ChronicleRoman", Georgia, 'Times New Roman', Times, serif;
      font-size: 24px;
      margin-right: 15px;
      margin-top: 36px;

      @media screen and (max-width: 767px) {
        margin-top: 0;
      }
    }

    p {
      font-family: "DINRegular", Arial, Helvetica, sans-serif;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 0;
      margin-right: 64px;

      @media screen and (max-width: 767px) {
        margin-right: 0;
      }
    }
  }
}

.icon-card {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 33%;
  width: 100%;

  @media screen and (max-width: 1079px) {
    margin-bottom: 43px;
    max-width: 50%;
  }

  @media screen and (max-width: 767px) {
    max-width: 100%;
  }
}

.icon-image {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  position: relative;
  width: 100px;
}
