.component-banner {
  width: 85%;

  @media (max-width: 1199px) {
    width: 100%;
  }

  h3 {
    font-family: "ChronicleRoman", Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 15px;

    @media (max-width: 767px) {
      font-size: 36px;
      margin-bottom: 10px;
    }
  }

  p {
    font-family: "ChronicleRoman", Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.65;
    margin-right: 25%;
    margin-bottom: 30px;

    @media (max-width: 1199px) {
      margin-right: 0;
    }
  }
}
