<section>
  <h2 class="section-title">
    <a>Who We Are</a>
  </h2>
  <div class="component-banner">
    <h3>Delivering Distinct Value Through Insight, Connectivity, Trust & Execution Since 2012</h3>
    <p>As a trusted partner, LionTree works across offices in New York, San Francisco, London and Paris to serve clients
      on transactions across the globe. Our unique approach to idea generation delivers solutions for navigating and
      capitalizing on changing market dynamics. We identify key forces and trends in each sector, apply understanding of
      their potential effects, and generate original and actionable opportunities across geographies and transaction
      types. We connect our clients to the right opportunities and contacts that will create value.</p>
    <a href="" class="btn btn-primary">Call To Action</a>
    <a href="" class="btn btn-secondary">Call To Action</a>
  </div>
</section>
